body {
    background-color: #ffc0cb;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

form {
    font-weight: bold;
}

input {
    background-color: #ffdbe1;
    border-radius: 25%;
    text-align: center;
    height: 30;
    width: 10%;
}

button {
    border-radius: 30%;
    background-color: #f74646;
    color: #ffffff;
    font-weight: bold
}