body{
    background-color: #040404;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

img.me{
    border-radius: 50%;
    align-content: center;
    width: 25%;
    height: 25%;
}

img.icon{
    filter: opacity(0.5) drop-shadow(0 0 0 white);
    border-radius: 50%;
    transition: 0.5s;
}

li{
    display: inline;
}