body{
    background-color: #040404;
}

a, p, h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

div.profile{
    background-color: #100f10;
    text-align: center;
}

img.profile{
    border-radius: 50%;
    width: 10%;
    height: 10%;
}